/*body{
  background-color: black; }

div{
  text-align: center;
  padding: 220px;}

form{ 
    background-image: linear-gradient(to top, #000000, rgb(30, 4, 50));
    position: absolute;
width: 733.32px;
height: 693.34px;
left: 475.84px;
top: 234.83px;
margin-left: 142px;}

input{
padding: 20px;
background-color: #3C2066;
color: aliceblue;
font-size: medium;
border-style: none;
}
  
img{
 margin-left: 30px;
}*/
